# Disable directory browsing
Options -Indexes

# Enable the rewrite engine
<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirect to public directory if not already there
    RewriteCond %{REQUEST_URI} !^/ITE311-LUMABAO/public/
    RewriteRule ^(.*)$ public/$1 [L]
    
    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>